/*================================================================================
            General purpose CSS
================================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  background: #1a1a1a;
  overflow-x: hidden;
  color: white;
}

a {
  color: #ed155d;
  transition: all 0.3s ease;
}
a:hover {
  color: #e1006a;
}
::placeholder {
  color: #b9babb;
  font-size: 15px;
}

/*================================================================================
            Code mirror CSS
================================================================================*/
.CodeMirror{
  min-height: calc(80vh);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}